{% extends "base_staff.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hello，STAFF ID： {{ID}}{% endblock %}

{% block content %}

<script>
function isHidden(oDiv){
  var vDiv = document.getElementById(oDiv);
  vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
}
</script>

<div class = "container">
    <div class = "page-header">
        <h1>Hello， ID： {{ID}}</h1>
    </div>
</div>
<div class = "container">
    <div class = "page-header">
        {% if surveys %}
            <h2>Course list</h2> 
            {% for c in cl %}
                <div style="cursor:hand" onclick="isHidden('{{c}}')"><b>{{c}}</b></div>
                <div style="display:block" id='{{ c }}'>
                    <div class="table-responsive">
                            <table class="table table-striped">
                            
                             <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Commit</th>
                                    <th>Course</th>
                                    <th>Semester</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Review</th>
                                </tr>
                             </thead>
                             <tbody>
                            {% for s in surveys %}
                                {% if s.Course_Semester == c%}
                                    <tr>
                                            <td>                
                                                <div class = "dropdown">
                                                    <span><a href = "/Survey/Review/{{s.Name}}">{{ s.Name }}</a></span>
                                                    <div class = "dropdown-content">
                                                        <li><h5>Description: {{ s.Description_Text }}</h5></li>
                                                        <li><h5>Questions: {% for q in s.Question_list %} {{q.Name}} {% endfor %}</h5></li>
                                                        <li><h5>Optional questions: {% for oq in s.Optional_Question_list %}{{oq.Name}} {% endfor %}</h5></li>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ s.say_state()}}</td>
                                            <td>{{ s.Commit }}</td>
                                            <td>{{ s.Course_Semester[0:8] }}</td>
                                            <td>{{ s.Course_Semester[9:] }}</td>
                                            <td>{{ s.Start_Time }}</td>
                                            <td>{{ s.End_Time }}</td>
                                        <td>
                                            {% if s.State == 'NOT_REVIEWED'  %}
                                                <a href = "/Survey/Review/{{s.Name}}">Review </a>
                                            {% else %}
                                                <p> - </p>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </br>
            {% endfor %}
        {% else %}
            <h2>No surveys to show</h2>
        {%endif%}
    </div>
</div>
{% endblock %}